@import url('variables.css');
@import url('quote.css');
@import url('hero.css');

/* Navigation styles */
nav.home-nav {
    background: linear-gradient(to right, #253c5e, #345479);
    padding: 1rem 0;
    border-top: 2px solid var(--lighter-blue);
    border-bottom: 2px solid var(--lighter-blue);
}

nav.home-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: var(--container-max-width);
}

nav.home-nav ul li {
    margin: 0 0.5em;
}

nav.home-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav.home-hav ul li a:hover {
    color: #f8f9fa;
}

/* Main content styles */
main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
    max-width: var(--container-max-width);
}

.cta-content-section {
    margin-bottom: 0;
}

.content-section {
    margin-bottom: 3rem;
}

/* These styles are related */
.cta-content-section {
    display: flex;
    flex-direction: column;
}
.content-section,.content-wrapper {
    background-color: var(--text-overlay-bg-light);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
}
.content-wrapper {
    padding-bottom: 2.5rem;
}

main h3 {
    color: var(--main-heading-text-color);
    margin: 0;
    border-bottom: 1px solid;
    display: inline-block;
}

main ul {
    list-style-type: none;
    padding: 0;
}

main ul li {
    margin-bottom: 0;
}

main a {
    color: var(--light-blue);
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
}

main a:hover {
    color: #fff;
    text-decoration: underline;
}

main section a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--link-hover-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

