@import url('variables.css');
@import url('footer.css');

body {
    font-family: var(--body-font);

    line-height: 1.6;
    color: var(--light-gray);

    margin: 0;
    padding: 0;
    background: var(--main-gradient);
    min-width: 300px;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem 2rem;
}

header h1 {
    margin: 0;
}


header a {
    color: white;
    text-decoration: none;
}

.breadcrumbs {
    background-color: #e9ecef;
    padding: 0.5rem 2rem;
    font-size: 0.9rem;
}
.breadcrumbs a {
    color: #007bff;
    text-decoration: none;
}
.breadcrumbs a:hover {
    text-decoration: underline;
}

/* Main content styles for content pages */
main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 2rem;
}

main section p {
  margin: 0;
  margin-top: 0.5em;
}

main section p::first-letter {
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: bold;
  color: #a9d2ff;
  line-height: 0em;
}

@import url('poem.css');


h1, h2, h3 {
    color: #ffd700;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

a:active {
  color: #ffaa00;
}

/* Responsive design */
@media (max-width: 768px) {

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}

