/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Caveat:wght@400..700&display=swap');


:root {
  --heading-font: 'Playfair Display', serif;
  --tagline-font: 'Caveat', cursive;
  --subheading-font: 'Playfair Display', serif;
  --cta-font: 'Lora', serif;
  --body-font: 'Lora', serif;
  --quote-font: 'Caveat', cursive;
  --hero-body-font: 'Playfair Display', serif;
}

/* Colors */
:root {
  --light-blue: #a9d2ff;
  --lighter-blue: #5a6e87;
  --blue: #007bff;
  --gold: #ffd700;
  --primary-bg: #1a2a4d;
  --light-gray: #e0e0e0;
  --main-gradient: linear-gradient(to right, #253c5e, #345479);
  --gradient-start: rgba(26, 42, 77, 0.8);
  --gradient-end: rgba(58, 95, 138, 0.8);
  --text-color: #fff;
  --hero-title-color: var(--gold);
  --cta-bg: var(--blue);
  --main-heading-text-color: var(--gold);
  --cta-text-color: #1a2a4d;
  --cta-hover: #f0e68c;
  --overlay-bg: rgba(0, 0, 0, 0.5);
  --text-overlay-bg: rgba(0, 0, 0, 0.3);
  --text-overlay-bg-light: rgba(255, 255, 255, 0.15);
  --quote-link-text-color: var(--light-blue);

  --footer-border-color: var(--lighter-blue);
  --footer-text-color: var(--text-color);
  --footer-link-hover-color: var(--cta-bg);

}

/* Spacing and Width */
:root {
  --hero-padding: 6rem 2rem;
  --hero-mobile-padding: 4rem 1rem;
  --container-max-width: 500px;
  --container-mobile-max-width: 500px;
}

/* Other */
:root {
  --hero-background-image: url('/theme/images/hero-background.jpg');
}
