{% extends "base.html" %}

{% block body %}
    <header>
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
        <nav class="header-nav">
            <ul>
                <li><a href="{{ SITEURL }}/about.html">О поэте</a></li>
                <li><a href="{{ SITEURL }}/category/poems.html">Нетронутый Грааль</a></li>
                <li><a href="{{ SITEURL }}/category/translations.html">Вино из грозди сердца</a></li>
                <li><a href="{{ SITEURL }}/creative-process.html">Звенящая бессонница</a></li>
            </ul>
        </nav>
    </header>

    {% if page or article or category %}
        <nav class="breadcrumbs">
            <a href="{{ SITEURL }}/">Главная</a>
            {% if page %}
                &raquo; <span>{{ page.title }}</span>
            {% elif article %}
                &raquo; <a href="{{ SITEURL }}/{{ article.category.url }}">{{ CATEGORY_TRANSLATIONS.get(article.category, article.category) }}</a>
                &raquo; <span>{{ article.title }}</span>
            {% elif category %}
                &raquo; <span>{{ CATEGORY_TRANSLATIONS.get(category, category) }}</span>
            {% endif %}
        </nav>
    {% endif %}
    
    <main>
    {% block content %}
    {% endblock %}
    </main>
{% endblock %}

