{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/home.css" />
    <script src="{{ SITEURL }}/theme/js/quote.js"></script>
{% endblock %}

{% block body %}
    <section class="hero with-gradient">
        <div class="hero-text-container">
            <h1>{{ SITENAME }}</h1>
            <h2>{{ SITETAGLINE }}</h2>
            <p>Добро пожаловать в мир, где слова плетут узоры нежнее, чем кружева, где рифмы звенят, как струны гуслей, а метафоры сверкают ярче звёзд.</p>
            <a href="category/poems.html" class="hero-cta btn btn-primary btn-cta">Читать стихи</a>
        </div>
    </section>

    <nav class="home-nav">
        <ul>
            <li><a href="{{ SITEURL }}/about.html">О поэте</a></li>
            <li><a href="{{ SITEURL }}/category/poems.html">Нетронутый Грааль</a></li>
            <li><a href="{{ SITEURL }}/category/translations.html">Вино из грозди сердца</a></li>
            <li><a href="{{ SITEURL }}/creative-process.html">Звенящая бессонница</a></li>
        </ul>
    </nav>

    <main>
        <div id="quote-of-the-day">
            <blockquote>
                <p id="quote-text"></p>
            </blockquote>
            <a id="quote-link" class="btn btn-primary btn-cta"><cite id="quote-source"></cite></a>
        </div>

        <section class="content-section">
            <h3>Последние публикации</h3>
            <ul>
            {% for article in articles_page.object_list[:5] %}
                <li><a href="{{ SITEURL }}/{{ article.save_as }}">{{ article.title }}</a></li>
            {% endfor %}
            </ul>
        </section>

        <section class="cta-content-section">
            <div class="content-wrapper">
                <h3>Автобиография</h3>
                <p>{{ AUTOBIOGRAPHY_EXCERPT }}</p>
            </div>
            <a class="btn btn-primary btn-cta" href="{{ SITEURL }}/without-a-shadow-of-fiction.html">Читать полностью</a>
        </section>

        <section class="cta-content-section">
            <div class="content-wrapper">
              <h3>Творческий процесс</h3>
              <p>{{ CREATIVE_PROCESS_EXCERPT }}</p>
            </div>
            <a class="btn btn-primary btn-cta" href="{{ SITEURL }}/creative-process.html">Узнать больше</a>
        </section>

        <section class="content-section">
            <h3>Разделы</h3>
            <ul>
                <li><a href="{{ SITEURL }}/category/poems.html">Стихи</a></li>
                <li><a href="{{ SITEURL }}/category/translations.html">Переводы</a></li>
                <li><a href="{{ SITEURL }}/palindromes.html">Палиндромы</a></li>
            </ul>
        </section>
    </main>

{% endblock body %}
